body {
  margin: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1d1d1d;
  color: #fff;
}
.loading-CC {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
